@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.gradient-blur {
    width: 100%;
    height: 100px;
    background: #ffffff;
    z-index: 1;
    filter: blur(15px);
    position: absolute;
    top: -75px;
    left: 0;
}

.gradient-blur2 {
    width: 100%;
    height: 100px;
    background: #ffffff;
    z-index: 1;
    filter: blur(15px);
    position: absolute;
    top: -75px;
    left: -30px;
}

.gradient-blur3 {
    width: 100%;
    height: 100px;
    background: #ffffff;
    z-index: 1;
    filter: blur(15px);
    position: absolute;
    top: -75px;
    right: -30px;
}

/* .wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  } */

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

.item {
    /* width: 200px; */
    width: 130px;
    height: 100px;
    border-radius: 6px;
    position: absolute;
    /* overflow: hidden; */
    bottom: 10px;
    left: max(calc(160px * 10), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: calc(30s / 10 * (10 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 10 * (10 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 10 * (10 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 10 * (10 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 10 * (10 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 10 * (10 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 10 * (10 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 10 * (10 - 8) * -1);
}

.item9 {
    animation-delay: calc(30s / 10 * (10 - 9) * -1);
}

.item10 {
    animation-delay: calc(30s / 10 * (10 - 10) * -1);
}

.svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
  .circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   